/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}
html {
    background-color: black;

}

body {
    background-color: grey;


}

.wrap-all {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;

}
.column.footer-column {
    width: 31%;
    float:left;
    padding-left: 5px;
    border: 1px solid black;
    margin:5px;
}

.region-header a {
    float:left;
}

.region-header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.region-header li {
    float:left;
}

.region-header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.article {
    padding-left: 5px;
}

.wrap-sidebar {

}

.figure.right {
    float:right;
}

.site-logo {
    display:none;
}

.site-logo-text {
    display: none;
}

.block.toc {
    padding-left: 10px;

}
.byline {
     overflow: auto;
     width: 90%;
     margin: 0 auto;
     height: 110px;
     border: 2px solid grey;
     display: block;
     overflow-y: hidden;
     padding-left: 10px;
 }

 .byline img {
     width: 100px;
     height: 100px;
     float: right;
     padding-top: 5px;
     padding-right: 10px;
 }
